:host { display: block; }
.filter-select { height: 2.5rem; min-width: 8.5rem; border: 1px solid #586651; border-radius: .5rem; padding: 0 2rem 0 .8rem; color: #edf2eb; background-color: #3d4c38; font-size: .75rem; outline: none; }
.filter-select:focus { border-color: #42d46c; }
