@import 'tailwindcss';

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background: #071b0d;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
